@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Home Page for Client Chapter Table Search</p>
    <p><a href="https://www.truesense.com/" class="btn btn-primary btn-lg">TrueSense Marketing Home Page &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add info here</h2>
        <p>
            bla bla bla
        </p>
        <p><a class="btn btn-default" href=" ">Empty Button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add even more info here</h2>
        <p>Skrrrrrrrrrrrrrrrrt goes the whip</p>
        <p><a class="btn btn-default" href=" ">Empty Button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Extra Info can go here</h2>
        <p>Yah Yeet</p>
        <p><a class="btn btn-default" href=" ">Empty Button &raquo;</a></p>
    </div>
</div>